<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.usecases.mybatis.dao.KlientasMapper">
  <resultMap id="BaseResultMap" type="lt.vu.usecases.mybatis.model.Klientas">
    <id column="kliento_nr" jdbcType="INTEGER" property="klientoNr" />
    <result column="vardas" jdbcType="VARCHAR" property="vardas" />
    <result column="pavarde" jdbcType="VARCHAR" property="pavarde" />
    <result column="telefonas" jdbcType="CHAR" property="telefonas" />



    <collection property="uzsakymasList" javaType="ArrayList" column="uzsakymo_nr" ofType="Uzsakymas" select="selectOrdersForClient"/>



  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "public".klientas
    where kliento_nr = #{klientoNr,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="kliento_nr" keyProperty="klientoNr" parameterType="lt.vu.usecases.mybatis.model.Klientas" useGeneratedKeys="true">
    insert into "public".klientas (vardas, pavarde, telefonas
      )
    values (#{vardas,jdbcType=VARCHAR}, #{pavarde,jdbcType=VARCHAR}, #{telefonas,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="lt.vu.usecases.mybatis.model.Klientas">
    update "public".klientas
    set vardas = #{vardas,jdbcType=VARCHAR},
      pavarde = #{pavarde,jdbcType=VARCHAR},
      telefonas = #{telefonas,jdbcType=CHAR}
    where kliento_nr = #{klientoNr,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select kliento_nr, vardas, pavarde, telefonas
    from "public".klientas
    where kliento_nr = #{klientoNr,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select kliento_nr, vardas, pavarde, telefonas
    from "public".klientas
  </select>


  <!-- Rankomis prirašytas ryšiui OneToMany Klientas - Uzsakymas -->
  <select id="selectOrdersForClient" resultType="Uzsakymas">
    SELECT
    u.uzsakymo_nr,
    u.paemimo_data,
    u.grazinimo_data
    FROM "public".uzsakymas u
    WHERE u.kliento_nr = #{klientoNr,jdbcType=INTEGER}
  </select>
</mapper>